<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>跑出你的 MBTI 人格！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M39W453');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M39W453"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app" class="container">
        <div id="disclaimer-modal" v-if="showDisclaimer">
            <div class="modal-content">
                <h2>👉 聲明 👈</h2>
                <p>此問答/描述/圖片 87% 透過 AI 協助<br>
                    🖖 純屬趣味，請勿過度認真 🙏<br>
                <p>準備好就開始吧 🤜🤛</p>
                <input type="text" v-model="name" placeholder="姓名">
                <button @click="startQuiz">開始測驗</button>
            </div>
        </div>
        <section id="quiz-container" v-if="currentQuestion < questions.length">
            <div v-if="currentQuestion === 0">
                <h1>跑出你的 MBTI 人格！</h1>
                <p>探索你的跑步風格與 MBTI 人格的關聯。<br>
                    快問快答，不要想太多</p>
                    選擇你的偏好程度</p>
            </div>
            <div id="question-container">
                <h2>{{ questions[currentQuestion].question }}</h2>
                <div class="scale-labels">
                    <span>{{ questions[currentQuestion].text[0] }}</span>
                    <span>{{ questions[currentQuestion].text[1] }}</span>
                </div>
                <div class="scale-container">
                    <label v-for="option in options" :key="option.value" :class="{ selected: selectedAnswer === option.value }">
                        <input type="radio" name="answer" :value="option.value" v-model="selectedAnswer">
                        <span class="emoji-option">{{ option.text }}</span>
                    </label>
                </div>
                <div class="progress-bar">
                    <div class="progress" :style="{ width: progressPercentage + '%' }"></div>
                </div>
            </div>
            <button id="next-btn" @click="nextQuestion" :disabled="!selectedAnswer">下一題</button>
        </section>

        <section id="results-container" v-if="currentQuestion >= questions.length">
            <div class="result-card">
                <img :src="`images/${mbtiType}_${randomImageNum}.jpg`" :alt="`${mbtiType} personality image`">
                <h3>{{ mbtiType }} - {{ mbtiDescription.description }}</h3>
                <p>{{ mbtiDescription.runningStyle }}</p>
                <canvas id="radar-chart"></canvas>
                <button @click="shareResult">分享結果</button> 
            </div>

        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="script.js"></script>
    <div class="bottomBar">
        <a id="ref" href="https://portaly.cc/luoboso" target="_blank">蘿泥蔔說</a>&nbsp&nbsp|&nbsp&nbsp
        <a id="ref" href="https://www.facebook.com/jybsbj4/" target="_blank">交友不慎</a>&nbsp&nbsp|&nbsp&nbsp
        <a id="ref" href="https://luoboso.github.io/taiwan-running-scouter/" target="_blank">跑步溫度計</a>&nbsp&nbsp|&nbsp&nbsp
        <a id="ref" href="https://luoboso.github.io/taiwan-running-level/" target="_blank">跑步戰鬥力</a>
      </div>
</body>
</html>
