<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' data: https://raw.githubusercontent.com;">
    <meta charset="UTF-8">
    <title>跑出你的 MBTI 人格！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M39W453');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M39W453"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app" class="container">
        <div id="disclaimer-modal" v-if="showDisclaimer">
            <div class="modal-content">
                <div id="language-select">
                    <select v-model="currentLanguage" @change="loadLanguage">
                        <option value="zh">中文</option>
                        <option value="en">English</option>
                    </select>
                </div>
                <h2>👉 {{ language.disclaimerTitle }} 👈</h2>
                <p>{{ language.disclaimer }}</p>                
                <input type="text" v-model="userName" :placeholder="language.readyText">
                <button @click="startQuiz">{{ language.startQuiz }}</button>
            </div>
        </div>
        <section id="quiz-container" v-if="currentQuestion < questions.length && language.questions">
            <div v-if="currentQuestion === 0">
                <h1>{{ language.title }}</h1>
                <p>{{ language.introText }}</p>
                <p>{{ language.selectPreference }}</p>
            </div>
            <div id="question-container" v-if="language.questions && language.questions[currentQuestion]">
                <h2>{{ language.questions[currentQuestion].question }}</h2>
                <div class="scale-labels">
                    <span>{{ language.questions[currentQuestion].text[0] }}</span>
                    <span>{{ language.questions[currentQuestion].text[1] }}</span>
                </div>
                <div class="scale-container">
                    <label v-for="option in options" :key="option.value" :class="{ selected: selectedAnswer === option.value }">
                        <input type="radio" name="answer" :value="option.value" v-model="selectedAnswer">
                        <span class="emoji-option">{{ option.text }}</span>
                    </label>
                </div>
                <div class="progress-bar">
                    <div class="progress" :style="{ width: progressPercentage + '%' }"></div>
                </div>
            </div>
            <button id="next-btn" @click="nextQuestion" :disabled="!selectedAnswer">{{ language.nextQuestion }}</button>
        </section>

        <section id="results-container" v-if="currentQuestion >= questions.length">
          <div id="share-result" class="result-card">
            <div class="share-result">
              <img id="result" :src="`https://raw.githubusercontent.com/luoboso/running-mbti/main/images/${mbtiType}_${randomImageNum}.jpg`" :alt="`${mbtiType} personality image`">
              <h3>{{ mbtiType }} - {{ mbtiDescription.description }}</h3>
              <p>{{ userName }}{{ mbtiDescription.runningStyle }}</p>
              <canvas id="radar-chart"></canvas>
            </div>            
          </div>
          <div class="share-friends-section"> 
            <p>{{ language.shareFriends }}</p> 
            <button @click="shareResult">{{ language.shareResult }}</button>
        </div> 
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="script.js"></script>
    <div class="bottomBar">
        <a id="ref" href="https://portaly.cc/luoboso" target="_blank">🥕蘿泥蔔說</a>&nbsp&nbsp|&nbsp&nbsp
        <a id="ref" href="https://www.facebook.com/jybsbj4/" target="_blank">👥交友不慎</a>&nbsp&nbsp|&nbsp&nbsp
        <a id="ref" href="https://luoboso.github.io/taiwan-running-scouter/" target="_blank">🌡️跑步溫度計</a>&nbsp&nbsp|&nbsp&nbsp
        <a id="ref" href="https://luoboso.github.io/taiwan-running-level/" target="_blank">🧐跑步戰鬥力</a>
      </div>
</body>
</html>